.headerDiv {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.linkButton {
  margin: 10px;
  padding: 9px;
  font-size: 22px;
  background: #f1ecec00;
  border-radius: 7%;
  font-weight: 700;
  box-shadow: 5px 3px 0 0 #333;
  text-decoration: none;
  color: #2f2d2d;
}

.linkButton:hover {
  border-color: #112f75;
  box-shadow: 5px 3px 0 0 #112f75;
  color: #112f75;
}

ul {
  list-style: none;
  margin: auto;
}
li {
  float: left;
}
