.App {
  margin: auto;
  /* margin-top: 10%; */
  text-align: center;
  font-size: 25px;
}

.submitButton {
  margin: 10px;
  padding: 7px;
  font-size: 18px;
  background: #f1ecec00;
  border-radius: 9%;
  font-weight: 500;
  border-width: 2px;
  border-color: #2f2d2d;
}
.submitButton:hover {
  color: #112f75;
  border-color: #112f75;
  box-shadow: 5px 3px 0 0 #112f75;
  box-shadow: 5px 3px 0 0 #333;
}
.todos {
  margin: 20px;
}
.todoDiv {
  margin: 20px;
  padding: 15px;
  border: 4px solid #4c4c4c;
  box-shadow: 2px 2px 0 #4c4c4c;
}
